.App {
  text-align: center;
  height: 100%;
}
.products-filters {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.products-filters p {
  margin-left: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}
.filters-div {
  padding-left: 20px;
  width: 300px;
}
.products-div {
  width: 100%;
}
